# Définition et création d'un variable

In [ ]:
x = 2.1
x

In [ ]:
s = "Bonjour"
s

In [ ]:
nom_variable = "Bonjour"

# Les types de variables / objets
* Définition

In [ ]:
x = 2.
x

In [ ]:
x = True
x

In [ ]:
False

# Nommage des variables
* noms autorisés
* noms interdits ou a éviter : print, range, for, from, True, ....
* casse

In [ ]:
# lettres a-z, et A-Z, 
# pas d'espace
# le _
# chiffres mais pas en première position
# certains noms interdits (mots clés Python, )
var4 = 8

In [1]:
largeur = 4
Largeur = 5
print(largeur)
print(Largeur)

4
5

In [2]:
print(LARGEUR)

NameError: name 'LARGEUR' is not defined

In [3]:
largeur_table = 3

In [4]:
_ = 2
print(_)

2

In [5]:
largeur_table

3

# Écriture scientifique
* Symbol e
* Séparation des groupes de chiffres avec un _

In [15]:
c = 3e21
z = 1 + 1j
print(c)

3e+21

In [7]:
z = 1J

In [13]:
c = 299_792_458
c

299792458

In [14]:
299_792_458 == 299792458

True

# Opérations
* Sur les types numériques
* sur les chaînes de caractères
* Opérations illicites

In [22]:
# +, *, /, -
# // Division euclidienne
# % modulo
# **
from math import pi
13.45 % (2*pi)

0.8836293856408268

In [24]:
x = 23
# x = x + 3
x += 3
x *=2
print(x)

52

In [26]:
var1 = "bonjour "
var2 = "tout le monde"
var1 + var2

'bonjour tout le monde'

In [28]:
var1 * 3

'bonjour bonjour bonjour '

In [29]:
'var1' * 3

'var1var1var1'

In [36]:
var1 + 2

TypeError: can only concatenate str (not "int") to str

In [34]:
1J < 1

TypeError: '<' not supported between instances of 'complex' and 'int'

# La fonction type()

In [38]:
print(type(var1))

<class 'str'>

In [39]:
type(x)

int

In [42]:
type(z)==complex

True

In [43]:
type("Bonjour")

str

In [48]:
x = 3
print(1 + 1)
b = 2
1 + 1

2

2

In [49]:
s = "Bonjour"
s

'Bonjour'

In [50]:
print(s)

Bonjour

In [51]:
s = '2.0'
s

'2.0'

In [52]:
x = 2.0
x

2.0

# Conversion 
* Création d'un nouvel objet à partir d'un objet d'un autre type

In [54]:
x = int(1.0)
print(x)
type(x)

1

int

In [55]:
int("34")

34

In [56]:
int(z)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [58]:
float("3")

3.0

In [59]:
float("bonjour")

ValueError: could not convert string to float: 'bonjour'

In [60]:
complex(2)

(2+0j)

In [62]:
s = str(z) + ' bonjour'

In [63]:
print(s)

(1+1j) bonjour

# Note sur le vocabulaire et la syntaxe
* Variable
* Objet
* Fonction
* Arguments

# Exercices

## Prédire le résultat : opérations¶

Essayez de prédire le résultat de chacune des instructions suivantes, puis vérifiez-le dans l'interpréteur Python :

*    (1+2)**3
*    "Da" * 4
*    "Da" + 3
*    ("Pa"+"La") * 2
*    ("Da"*4) / 2
*    5 / 2
*    5 // 2
*    5 % 2

In [69]:
"Da"* (4 // 2)

'DaDa'

## Prédire le résultat : opérations et conversions de types¶

Essayez de prédire le résultat de chacune des instructions suivantes, puis vérifiez-le dans l'interpréteur Python :

*    str(4) * int("3")
*    int("3") + float("3.2")
*    str(3) * float("3.2")
*    str(3/4) * 2

In [74]:
str(4) * int("3")
# '4' * 3
int("3") + float("3.2")
str(3) * int(float("3.2"))

'333'

In [75]:
str(3/4) * 2

'0.750.75'