# Liste
Créer une liste contenant tous les nombres strictement inférieurs à 200 qui sont des multiples de 5 sans être des multiples de 3.

In [1]:
# Question 12
result = []

for i in range(0, 200, 5):
    if i%3 != 0:
        result.append(i)
print(result)

[5, 10, 20, 25, 35, 40, 50, 55, 65, 70, 80, 85, 95, 100, 110, 115, 125, 130, 140, 145, 155, 160, 170, 175, 185, 190]

# Taille en pouce

In [3]:
# Question 13

def taille_en_pouce(h):
    return int(round(h/2.54))

taille_en_pouce(178)

70

In [5]:
# Question 14
def taille_pied_pouce(h):
    h_in_pouce = taille_en_pouce(h)
    return h_in_pouce//12, h_in_pouce%12

taille_en_pouce(178)

70

# Matchs de poule

In [6]:
groupeD = {('Danemark', 'Tunisie') : (0 , 0 ) ,
     ('France', 'Australie') : (4 , 1 ) ,
     ('Tunisie', 'Australie') : (0 , 1 ) ,
     ('France', 'Danemark') : (2 , 1 ) ,
     ('Australie', 'Danemark') : (1 , 0 ) ,
     ('Tunisie', 'France') : (1 , 0 ) }

In [7]:
# Question 15
len(groupeD)

6

In [8]:
# Question 16
for key, val in groupeD.items():
    if val[0]>val[1]:
        print(f'{key[0]} bat {key[1]} par {val[0]} à {val[1]}.')
    elif val[0]==val[1]:
        print(f'{key[0]} et {key[1]} font match nul {val[0]} partout.')
    else:
        print(f'{key[1]} bat {key[0]} par {val[1]} à {val[0]}.')

Danemark et Tunisie font match nul 0 partout.
France bat Australie par 4 à 1.
Australie bat Tunisie par 1 à 0.
France bat Danemark par 2 à 1.
Australie bat Danemark par 1 à 0.
Tunisie bat France par 1 à 0.

In [9]:
# Question 17
with open('groupeD.txt', 'w') as f:
    for key, val in groupeD.items():
        if val[0]>val[1]:
            f.write(f'{key[0]} bat {key[1]} par {val[0]} à {val[1]}.\n')
        elif val[0]==val[1]:
            f.write(f'{key[0]} et {key[1]} font match nul {val[0]} partout.\n')
        else:
            f.write(f'{key[1]} bat {key[0]} par {val[1]} à {val[0]}.\n')

In [10]:
# Question 18
liste_equipe = ['France', 'Danemark', 'Tunisie', 'Australie']

liste_equipe_bis = []
for protagonistes in groupeD.keys():
    equipe1, equipe2 = protagonistes
    if equipe1 not in liste_equipe_bis:
        liste_equipe_bis.append(equipe1)
    if equipe2 not in liste_equipe_bis:
        liste_equipe_bis.append(equipe2)
print(liste_equipe_bis)

['Danemark', 'Tunisie', 'France', 'Australie']

In [11]:
# Question 20

def nombre_victoires(pays, groupe):
    res = 0
    for key, val in groupe.items():
        if key[0]==pays and val[0]>val[1]:
            res += 1
        if key[1]==pays and val[1]>val[0]:
            res += 1
    return res

nombre_victoires('France', groupeD)

2

In [13]:
# Question 21

def nombre_defaites(pays, groupe):
    res = 0
    for key, val in groupe.items():
        if key[0]==pays and val[1]>val[0]:
            res += 1
        if key[1]==pays and val[0]>val[1]:
            res += 1
    return res


def nombre_nuls(pays, groupe):
    res = 0
    for key, val in groupe.items():
        if key[0]==pays and val[1]==val[0]:
            res += 1
        if key[1]==pays and val[0]==val[1]:
            res += 1
    return res

nombre_defaites('France', groupeD)
nombre_nuls('France', groupeD)

0

In [17]:
# Question 22
def but_pour_et_contre_et_diff(pays, groupe):
    pour = 0
    contre = 0
    for key, val in groupe.items():
        if key[0]==pays:
            pour += val[0]
            contre += val[1]
        if key[1]==pays:
            pour += val[1]
            contre += val[0]
    return pour, contre, pour - contre

In [18]:
# Question 23

resultat = {}
for pays in liste_equipe:
    ligne = {'G':nombre_victoires(pays, groupeD),
             'P':nombre_defaites(pays, groupeD),
             'N':nombre_nuls(pays, groupeD)}
    BP, BC, diff = but_pour_et_contre_et_diff(pays, groupeD)
    ligne['BP'] = BP
    ligne['BC'] = BC
    ligne['Diff'] = diff
    resultat[pays] = ligne
    
resultat

{'France': {'G': 2, 'P': 1, 'N': 0, 'BP': 6, 'BC': 3, 'Diff': 3},
 'Danemark': {'G': 0, 'P': 2, 'N': 1, 'BP': 1, 'BC': 3, 'Diff': -2},
 'Tunisie': {'G': 1, 'P': 1, 'N': 1, 'BP': 1, 'BC': 1, 'Diff': 0},
 'Australie': {'G': 2, 'P': 1, 'N': 0, 'BP': 3, 'BC': 4, 'Diff': -1}}

In [20]:
# Question 24
print(f"{'équipe':<10} || Pts || G | P | N || BP | BC |  D |")
print('------------------------------------------------')
for pays in liste_equipe:
    res = resultat[pays]
    pts = res['G']*3 + res['N']
    G = res['G']
    P = res['P']
    N = res['N']
    BP = res['BP']
    BC = res['BC']
    D = res['Diff']
    print(f"{pays:<10} ||  {pts}  || {G} | {P} | {N} || {BP:>2} | {BC:>2} | {D:>2} |")

équipe     || Pts || G | P | N || BP | BC |  D |
------------------------------------------------
France     ||  6  || 2 | 1 | 0 ||  6 |  3 |  3 |
Danemark   ||  1  || 0 | 2 | 1 ||  1 |  3 | -2 |
Tunisie    ||  4  || 1 | 1 | 1 ||  1 |  1 |  0 |
Australie  ||  6  || 2 | 1 | 0 ||  3 |  4 | -1 |

In [23]:
# Question 25

def value(pays):
    """ Classement des pays
    
    Renvoie un tuple contenant l'opposé des points, de la diff de buts et
    des buts pour. 
    
    L'ordre croissant des ses tuples correspondra aux classements 
    des équipes
    """
    res = resultat[pays]
    pts = res['G']*3 + res['N']
    return (-pts, -res['Diff'], -res['BP'])

sorted(liste_equipe, key=value)

['France', 'Australie', 'Tunisie', 'Danemark']